body {
      margin: 0 auto;
      color: #3a3a3a;
      font-family: 'Gentium Book Basic', 'Palatino', Georgia, serif;
      font-size: 16pt;
      line-height: 160%;
      font-weight: 400;
      text-align: left;
      background: #fafafa;

    }
    h1, h2, h3{
      font-family: 'Open Sans', 'Helvetica-Neue', Helvetica, sans-serif;
      font-weight: 800;
      text-transform: uppercase;
    }
    h1{
      font-size: 1.7em;
    }
    h2{
      margin-bottom:-15px;
      font-size: 1.25em;
    }
    h3{
      font-size: 1em;
    }
    .content{
      width: 70%;
      padding: 0 15%;
    }
    a{
      color: #999999;
      text-decoration: none;
    }
    a:hover{
      color: #3a3a3a;
      text-decoration: none;
    }
    a i{
      color: #3a3a3a;
    }
    a:hover i{
      color: #CE3816;
    }
    .centerdiv{
      margin: 0 auto;
      width: 90%;
      height: 100%;
      min-height: 800px;
      background: white;
      box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    }
    .header{
      width: 100%;
      height: 60px;
      margin-top: 0;
      padding-bottom: 26px;
      color: black;
      border-bottom: 1px solid #fafafa;
      text-align: center;
    }
    .header  div{
      float: left;
    }
    .edge{
      width: 20%;
    }
    .center{
      width: 60%;
    }

